html
{
    font-family: Courier New;
    background-image: url('../Image/Terre.jpg');
}

header
{
    color: white;
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
}

h1
{
    margin-left: 2%;
}

nav
{
    font-size: 2em;
    position: relative;
    margin-top: 2.5%;
    margin-left: 25%;
}

nav a
{
    padding: 2%;
    text-decoration: none;
    color: white;
}

section
{
    position: relative;
    margin-top: 7%;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

footer
{
    text-align: center;
    font-size: 1em;
    background-color: rgb(65,69,75);
	color: rgb(109,116,126);
    font-weight: bolder;
}

#Img
{
    position: relative;
    margin-top: 1%;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
}

#Img p
{
    color: darkred;
    margin-top: 0%;
}

#Logo
{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-top: 0%;
}

#Caché
{
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top: 0%;
    margin-left: -10%;
}

